article.blok {
    border: 1px solid #e9e9e9;
    padding: 10px;
}

article.blok p {
    margin-bottom: 10px;
}

article.blok > header {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
}

article.blok > header > h1 {
    padding-bottom: 10px;
    font-size: 16pt;
}

#footer {
    border-top: 1px solid #555;
    text-align: center;
    padding: 15px 0px;
    margin-top: 15px;
}

.input-block {
    margin-bottom: 5px;
    padding: 5px;
}

.input-block > label {
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
}

.input-block > .input-field {
    padding: 5px 10px;
    min-width: 400px;
}

.button {
    vertical-align: bottom;
    background-color: #ddd;
    border: 1px solid #888;
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: #000;
}
