@media screen and (max-width: 640px) {
    #wrapper {
        min-width: 100%;
    }

    #header {
        display: none;
    }

    #nav > ul > li {
        display: block;
    }

    #nav > ul > li > a {
        border-bottom: none;
        margin-bottom: 5px;
        display: block;
        padding: 15px;
    }
}
